@media screen and (min-width:480px){

/*body{
  background:skyblue;
  
  }*/
  
  /*********************
  coloumn layout
  ******************/
  #primary{
  width:50%;
    float:left;
  
  }
  #secondary{
  
  
  width:40%;
  float:right;}


#gallery li{
width:28.333;

}
#gallery li:nth-child(4n){clear:left;}
@media screen  and (min-width:660px){
  
 /* body{
    background:lightgrey;
  }*/
}
}
